.pdfContainer {
    width: 100%;
    height: 900px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recruiterAddVacancyBanner,
.recruiterUpdateVacancyBanner,.recruiterVacancyBanner {
    background-image: url(../../assets/recruiterAddVacancy.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    margin-top: 5rem;
}

.recruiterApplicantsBanner {
    background-image: url(../../assets/recruiterApplicantlist.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    margin-top: 5rem;
}


.overRecruiterAddVacancyBanner, .overRecruiterUpdateVacancyBanner , .overRecruiterVacancyBanner, .overRecruiterApplicantsBanner{
    height: 200px;
    background-color: rgba(34, 36, 44, 0.646);
}

.recruiterProfile{
    height: 90vh;
    text-align: justify;
}
.resumeContainer {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .pdfContainer {
        width: 100%;
        height: 400px;
        overflow-y: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .recruiterProfile{
        height: 50vh;
        text-align: justify;
    }
    .recruiterEditProfileRightSection, .recruiterDeactivateAccountSection{
        height: 115vh;
    }

    .resumeContainer {
        width: 100%;
        background-color: blue;
    }
}