
    .pdfContainer {
        width: 100%;
        height: 900px;
        overflow-y: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .resumeContainer {
        width: 100%;
    }

    .filterBox {
        background-image: url(../../assets/filterBg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 400px;
        margin-top: 5rem;
    }

    .overFilterBox {
        padding: 2rem 0;
        height: 400px;
        background-color: rgba(34, 34, 34, 0.409);
    }

    .filterBoxHeader {
        color: rgb(255, 255, 255);
    }

    .filterInputs {
        background-color: rgba(34, 34, 34, 0.116);
        border-radius: 10px;
        padding: 1.1rem;
        color: black
    }

    @media screen and (max-width: 600px) {

        .filterBox {
            padding: 1rem;
            height: 400;
        }

        .overFilterBox {
            padding: 2rem 0;
            background-color: rgba(34, 34, 34, 0.409);
        }

        .pdfContainer {
            width: 100%;
            height: 400px;
            overflow-y: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .resumeContainer {
            width: 100%;
            /* background-color: blue; */
        }
    }